node-red
[
    {
        "id": "8dcef951a317cdcf",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "560e03aa78ee7eac",
        "type": "function",
        "z": "8dcef951a317cdcf",
        "name": "function 2",
        "func": "var a = msg.payload;\nmsg.payload = JSON.parse(a);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 620,
        "wires": [
            [
                "296060c4c60709d1",
                "7ba39849a79a856c",
                "7fc7244d89f79e55",
                "c85f79a37449365a"
            ]
        ]
    },
    {
        "id": "43e825dc9af74c8a",
        "type": "http request",
        "z": "8dcef951a317cdcf",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.128:1788/sensor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "296060c4c60709d1",
        "type": "delay",
        "z": "8dcef951a317cdcf",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 700,
        "wires": [
            [
                "43e825dc9af74c8a",
                "6e8495345c607f4d",
                "016569fb1437d2bc"
            ]
        ]
    },
    {
        "id": "017ad98cf178b428",
        "type": "http in",
        "z": "8dcef951a317cdcf",
        "name": "",
        "url": "/sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "6abc5cb3dbd9bef2"
            ]
        ]
    },
    {
        "id": "6e8495345c607f4d",
        "type": "debug",
        "z": "8dcef951a317cdcf",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "6abc5cb3dbd9bef2",
        "type": "function",
        "z": "8dcef951a317cdcf",
        "name": "function 3",
        "func": "var a = context.get('sensor') || 0;\nif(msg.topic == 'sensor'){\n    a = msg.payload;\n    context.set('sensor',a);\n}\nif(msg.payload.type == 'data'){\n    msg.payload = JSON.parse(a);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "737d7d4cf2abbfcf"
            ]
        ]
    },
    {
        "id": "e88ff82b510526c6",
        "type": "function",
        "z": "8dcef951a317cdcf",
        "name": "function 4",
        "func": "msg.topic = 'sensor'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 320,
        "wires": [
            [
                "6abc5cb3dbd9bef2"
            ]
        ]
    },
    {
        "id": "737d7d4cf2abbfcf",
        "type": "http response",
        "z": "8dcef951a317cdcf",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "db3077f71dd647cc",
        "type": "serial in",
        "z": "8dcef951a317cdcf",
        "name": "",
        "serial": "7a0f5c7ed0ce45ff",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "e88ff82b510526c6",
                "560e03aa78ee7eac"
            ]
        ]
    },
    {
        "id": "016569fb1437d2bc",
        "type": "function",
        "z": "8dcef951a317cdcf",
        "name": "function 5",
        "func": "if(msg.payload.data[1].value == '1'){\n    return msg;\n}\nreturn 0;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 540,
        "wires": [
            [
                "3d685c09d799c5c8"
            ]
        ]
    },
    {
        "id": "3d685c09d799c5c8",
        "type": "exec",
        "z": "8dcef951a317cdcf",
        "command": "python3 camera/streaming.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "6f51b958658ea0cb"
            ],
            [],
            []
        ]
    },
    {
        "id": "6f51b958658ea0cb",
        "type": "debug",
        "z": "8dcef951a317cdcf",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "7ba39849a79a856c",
        "type": "websocket out",
        "z": "8dcef951a317cdcf",
        "name": "",
        "server": "b91aca038993c9ec",
        "client": "",
        "x": 170,
        "y": 840,
        "wires": []
    },
    {
        "id": "7fc7244d89f79e55",
        "type": "function",
        "z": "8dcef951a317cdcf",
        "name": "온도,습도값 가져오기",
        "func": "var gas = parseInt(msg.payload.data[0].value);\nvar temp = parseInt(msg.payload.data[2].value);\nvar humi = parseInt(msg.payload.data[3].value);\nvar msg = { payload: gas };\nmsg.topic = \"Gas\"\nvar msg1 = { payload: temp };\nmsg1.topic = \"Temperature\"\nvar msg2 = { payload: humi };\nmsg2.topic = \"Humidity\"\nreturn [msg, msg1, msg2]",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            [
                "5a92583b78b576ee"
            ],
            [
                "5a92583b78b576ee"
            ],
            [
                "5a92583b78b576ee"
            ]
        ]
    },
    {
        "id": "5a92583b78b576ee",
        "type": "ui_chart",
        "z": "8dcef951a317cdcf",
        "name": "습온도",
        "group": "27db5888c7d46a63",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "horizontalBar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "200",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "c85f79a37449365a",
        "type": "debug",
        "z": "8dcef951a317cdcf",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 520,
        "wires": []
    },
    {
        "id": "9fd179fffbcd02d0",
        "type": "function",
        "z": "8dcef951a317cdcf",
        "name": "function 6",
        "func": "\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 260,
        "wires": [
            [
                "fd0fcfeb6eb89c5e"
            ],
            [
                "45aff617370fb39d"
            ]
        ]
    },
    {
        "id": "fd0fcfeb6eb89c5e",
        "type": "debug",
        "z": "8dcef951a317cdcf",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 160,
        "wires": []
    },
    {
        "id": "45aff617370fb39d",
        "type": "debug",
        "z": "8dcef951a317cdcf",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "d86bcb50d601e9bb",
        "type": "http in",
        "z": "8dcef951a317cdcf",
        "name": "",
        "url": "192.168.0.18/switch",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 670,
        "y": 360,
        "wires": [
            [
                "9fd179fffbcd02d0"
            ]
        ]
    },
    {
        "id": "4180686de75cd8a4",
        "type": "websocket in",
        "z": "8dcef951a317cdcf",
        "name": "",
        "server": "b91aca038993c9ec",
        "client": "",
        "x": 430,
        "y": 800,
        "wires": [
            [
                "ebc6d9b20acaaa6a"
            ]
        ]
    },
    {
        "id": "ebc6d9b20acaaa6a",
        "type": "debug",
        "z": "8dcef951a317cdcf",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 840,
        "wires": []
    },
    {
        "id": "7a0f5c7ed0ce45ff",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b91aca038993c9ec",
        "type": "websocket-listener",
        "path": "sensor",
        "wholemsg": "false"
    },
    {
        "id": "27db5888c7d46a63",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "e45d640ad83534c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e45d640ad83534c5",
        "type": "ui_tab",
        "name": "Temp",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
